{% extends 'list/main.html' %}
{% block content %}
<div class="d-flex flex-column text-center mt-5">
    <p>
        <h1>Editing the expense</h1>
    </p>
    <p>
        <form action="{% url 'edit' product.id %}" method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="CONFIRM" class="btn btn-outline-success btn-sm">
            <a href="{% url 'index' %}" class="btn btn-outline-dark btn-sm">CANCEL</a>
        </form>
    </p>
</div>
{% endblock %}