{% extends 'list/main.html' %}
{% block content %}
<div class="d-flex flex-column text-center mt-5">
    <p>
        <h1><u> Expenses without a budget: </u></h1>
    </p>
    <ul>
        {% if products %}
        {% for product in products %}
        <l1>
            <h5 class="text-primary">{{ product }}</h5>
        </l1>
        {% endfor %}
    </ul>
    <u>total:</u><h3>{{ total }}€</h3>
    {% else %}
    <h4 style="color:orangered">- No expenses without a budget yet -</h4>
    {% endif %}
</div>
{% endblock %}