{% extends 'list/main.html' %}
{% block content %}
<p>
    <h1>Log in</h1>
</p>
<p>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="LOGIN" class="btn btn-outline-success btn-sm">
    </form>
</p>
<p>
    {% if message %}
    <h5 class="text-danger">{{message}}</h5>
    {% endif %}
</p>
{% endblock %}